# Compiled output
dist
node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Tests
coverage
.nyc_output

# IDE
.idea
.vscode
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# Prisma
prisma/*.db

# Build
build
